[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
lxml = "*"
requests = "*"
urllib3 = "*"
argparse = "*"
beautifulsoup4 = "*"

[dev-packages]
yapf = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
